# Assignment-1 Dated 09 May2023

# Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [2]:
V1= ['nitin', [1,5,10],2.5,3.5,(9,8,7,6)]

# Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.

What will be the data type of the above given variable.

In [3]:
var1=''

In [4]:
type(var1)

str

In [10]:
 var2 = '[ DS , ML , Python]'

In [11]:
type(var2)

str

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [8]:
type(var3)

list

In [1]:
var4 = 1.

In [2]:
type(var4)

float

# Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [5]:
# / is divide operator

a=10
b=3

c= a/b

print(c)

3.3333333333333335

In [8]:
# % is modulo or reminder operator

d= a % b

print(d)

1

In [10]:
# // is Floor division operator

c = a//b
print(e)

3

In [11]:
# ** exponential operator or power operator

e = a ** b

print(e)

1000

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
n1 = [12,23,45,5.6,6.7,7.8,89,90,"nitin", 5+7j]

In [21]:
type(n1)

list

In [20]:
for i in n1:
    print (i,  type(i))

12 <class 'int'>
23 <class 'int'>
45 <class 'int'>
5.6 <class 'float'>
6.7 <class 'float'>
7.8 <class 'float'>
89 <class 'int'>
90 <class 'int'>
nitin <class 'str'>
(5+7j) <class 'complex'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [4]:
A = 75
B =5

In [6]:
# without While loop 
while A%B ==0:
    c=A/B
    print(c)
    break

15.0

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [14]:
l25=[70,72,9,16,24,35,11,30,35,48,22,14,42,56,89,50,34,27,63,54,12,91,111,82,99]

In [15]:
len(l25)

25

In [28]:
for i in l25:
    if i%3==0 :
        print ("yes",end=",")   # print Yes when divisible by 3 
    else: 
        print("NO",end=",")     # print No when divisible by 3

NO,yes,yes,NO,yes,NO,NO,yes,NO,yes,NO,NO,yes,NO,NO,NO,NO,yes,yes,yes,yes,NO,yes,NO,yes,

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [7]:
## Mutable data type are data in which we can change values while, in immutable we cannot change values.
#  example for mutable is List and for immutable is tuple 

# mutable
l=[10,20,30]

In [8]:
l

[10, 20, 30]

In [9]:
l[0]=40

In [10]:
l

[40, 20, 30]

In [11]:
# immutable example

t = (50,60,70)

In [12]:
t

(50, 60, 70)

In [13]:
t[0]=80

TypeError: 'tuple' object does not support item assignment